.wholePane {
	background-color: white;
	height: 100%;
	width: 100%;
	position: relative;
	/*
	display: flex;
	flex-flow: column;
*/
	/*	justify-content: space-around;*/
}
.aJSContainer {
	display: flex;
	width: 100%;
}
.aJSItems {
	width: auto;
	padding: 5px 10px;
	font-weight: bold;
	cursor: pointer;
	margin: 15px;
}
.angular {
	display: inline-block;
	float: left;
	height: 100%;
}
.angularLeft {
	width: 30%;
	position: relative;
}
.smaller {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.angularCode,
.angularRight {
	width: 35%;
}
.angularCode {
	background-color: aqua;
}
.angularRight {
	background-color: green;
}
.direcImg {
	width: 100% !important;
	opacity: 1 !important;
}
