.wholePane {
	background-color: #424242;
	border: 25px solid black;
	padding: 25px;
	min-height: 100%;
	height: auto;
	width: auto;
	margin: -10px;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}
.aJSContainer {
	display: flex;
	flex: 15%;
}
.aJSItems {
	width: auto;
	padding: 5px 10px;
	background-color: #8A0651;
	color: #ffffff;
	font-weight: bold;
	font: cursive;
	clear: both;
}
.nothin {
	padding: 0;
	margin: 10;
}
