html,
body {
	height: 100%;
	width: 100%;
}
header {
	height: 15%;
	width: 100%;
	font-size: 70px;
	background-color: white;
	background-size: cover;
	position: absolute;
	top: 0px;
	margin-bottom: 15px;
}
.right {
	text-align: center;
	margin: -50px 20px;
	float: right;
}
.nav {
	padding: 5px 10px;
}
.centerContent {
	width: 30%;
	margin: auto;
}
.centerText {
	text-align: center;
}
.content {
	height: 100%;
	color: black;
	position: relative;
	background-color: lightgray;
}
.container {
	margin-top: 10%;
	width: 100%;
}
div {
	padding: 20px 75px;
}
.buttons {
	display: inline-block;
	width: auto;
	padding: 2px 15px;
	border-radius: .5em .5em 0 0;
	border: 1px solid black;
	text-align: center;
	font: 15px/28px Helvetica, sans-serif;
	background-image: linear-gradient (#cccccc, #eeeeee);
	cursor: pointer;
	margin-bottom: 0px;
}
.activeTab {
	border-bottom: none;
	background-image: linear-gradient(#66ccff, #ccffff);
}
.pane {
	margin-top: 0px;
	border: 1px solid black;
	background-color: white;
	height: 500px;
	width: inherit;
	padding: 0;
	margin-top: -2px;
	overflow: auto;
}
.buttonHover {
	background-color: aqua;
	font-family: cursive;
	font-size: 18px;
}
h1,
h2,
h3,
h4,
h5,
h6,
center {
	text-align: center;
}
#elusiveText {
	background-color: #0066AA;
	color: #FFFFFF;
	font-weight: bold;
	border-color: #C0C0C0;
	border: 2px solid;
	border-radius: 5px;
	padding: 3px;
	position: relative;
	top: 150px;
	left: 100px;
}
.listTitle {
	padding: 5px;
	border-bottom: 2px solid white;
}
.noPadding {
	padding: 0;
}
