html,
body {
	height: 100%;
	width: 100%;
}
.topDown {
	height: 15%;
	width: 100%;
	font-size: 30px;
}
.content {
	height: 100%;
}
leftNavBar {
	width: 10%;
	min-height: inherit;
	height: 100%;
	float: left;
	color: chartreuse;
	background-color: dimgrey;
}
.nav {
	color: chartreuse;
}
.menu {
	margin: 10px auto;
	font: 18px cursive;
}
.container {
	float: right;
	width: 90%;
	margin: auto;
	min-height: 100%;
	height: auto;
	background-color: lightgray;
	color: deeppink;
}
div {
	padding: 20px 75px;
}
.buttons {
	display: inline-block;
	width: auto;
	padding: 2px 15px;
	border-radius: .5em .5em 0 0;
	border: 1px solid black;
	text-align: center;
	font: 15px/28px Helvetica, sans-serif;
	background-image: linear-gradient (#cccccc, #eeeeee);
	cursor: pointer;
	margin-bottom: 0px;
}
.activeTab {
	border-bottom: none;
	background-image: linear-gradient(#66ccff, #ccffff);
}
.tabs {
	width: auto;
}
.pane {
	margin-top: 0px;
	border: 1px solid black;
	background-color: white;
	height: 500px;
	width: inherit;
	padding: 10px;
	margin-top: -2px;
	overflow: auto;
}
.underline {
	border-bottom: 1px ridge deeppink;
	margin-top: 50px;
}
.spacedList {
	margin-top: 10px;
	font-size: 14px;
}
.buttonHover {
	background-color: aqua;
	font-family: cursive;
	font-size: 18px;
}
.tab {
	padding: 0;
}
h1,
h2,
center {
	text-align: center;
}
.highlight {
	background-color: darkgray;
	font-weight: bold;
	border-radius: .3em;
	padding: 2px;
}
.homebutton {
	background-color: steelblue;
	padding: 5px 10px;
	border-radius: .5em;
	cursor: pointer;
}
center {
	margin: 0 auto;
}
#elusiveText {
	background-color: #0066AA;
	color: #FFFFFF;
	font-weight: bold;
	border-color: #C0C0C0;
	border: 2px solid;
	border-radius: 5px;
	padding: 3px;
	position: relative;
	top: 150px;
	left: 100px;
}
tab.jQueryPane {
	height: 700px !important;
}
