html,
body {
	height: 100%;
	width: 100%;
}
.topDown {
	height: 15%;
	width: 100%;
}
.headerGraphic {
	position: absolute;
	top: 10px;
	right 10px;
}
leftNavBar {
	width: 15%;
	height: inherit;
	float: left;
	color: chartreuse;
	background-color: dimgrey;
}
.container {
	width: auto;
	margin: auto;
	height: inherit;
	background-color: lightgray;
	color: deeppink
}
div {
	padding: 20px 75px;
}
.atom {
	position: absolute;
	top: 0;
	right: 0;
	height: 100px;
}
.buttons {
	display: inline-block;
	width: 100px;
	border-radius: .5em .5em 0 0;
	border: 1px solid black;
	text-align: center;
	font: 15px/28px Helvetica, sans-serif;
	background-image: linear-gradient (#cccccc, #eeeeee);
	cursor: pointer;
}
.activeTab {
	border-bottom: none;
	background-image: linear-gradient(#66ccff, #ccffff);
}
.tabs {
	width: auto;
}
.window {
	border: 1px solid black;
	background-color: white;
	height: 300px;
	width: inherit;
	padding: 10px;
	margin-top: -2px;
	overflow: auto;
}
.underline {
	border-bottom: 1px ridge deeppink;
	margin-top: 50px;
}
.spacedList {
	margin-top: 10px;
	font-size: 14px;
}
.buttonHover {
	background-color: aqua;
	font-family: cursive;
}
